body {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 60vw;
	padding: 40px 10px;
}

#heading {
	padding: 10px;
}

.steps {
	display: flex;
	justify-content: center;
	align-items: center;
}

.line {
	width: 30px;
	height: 5px;
	background-color: #bdc3c7;
	transition: width 0.5s ease-in-out;
}

.lineActive {
	background-color: #3498db;
	width: 30px;
}

.step {
	width: 30px;
	height: 30px;
	border: 2px solid #bdc3c7;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/* nice touch to add transition for bg-color and border color */
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

.step:hover {
	border-color: #3498db;
}

.active {
	background-color: #3498db;
	color: white;
	border-color: #3498db;
}

.step-container {
	width: 300px;
	height: 300px;
	margin: 2rem;
	border: 2px solid black;
}

.btn-container button {
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #3498db;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin: 0 5px;
}

.btn-container button:hover {
	background-color: #1f77b4;
}

.btn-container button:disabled {
	background-color: #bdc3c7;
	cursor: not-allowed;
}
